.order-details-container {
    display: flex;
    margin: 5px 45px 5px 45px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    margin-top: 50px;
}

.L-section {
    border-right: 1px solid lightgray;
    padding: 20px;
    max-width: 900px;
}

.R-section {
  
    padding: 20px;
}

.place-order-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
}

.place-order-buttons button {
    background-color: #3f51b5 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.U-section{
    display:flex;
    height:50px;
    margin: 20px 45px 20px 45px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.U-section i,hr,span{
    margin-right: 10px ;
    
}
hr{
    width: 400px;
}


