.order-details-container {
    display: flex;
    margin: 5px 45px 5px 45px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    margin-top: 50px;
}

.L-section {
    border-right: 1px solid lightgray;
    padding: 20px 30px 20px 30px;
    flex: 2 1 0%;
    max-width: 900px;
    line-height: 2.1;
}

.R-section {
    padding: 20px 30px 20px 30px;
    flex: 1 1 0%;
    line-height: 2.1;
}

.place-order-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.place-order-buttons button {
    background-color: #3f51b5 ;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 23px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    padding: 0;
}
hr{
    width: 400px;
}


