.order-details-container {
    display: flex;
    margin: 5px 45px 5px 45px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    margin-top: 50px;
}

.L-section {
    border-right: 1px solid lightgray;
    padding: 20px;
    max-width: 900px;
}
@media (max-width: 1024px) {
  .L-section {
    max-width: 90vw;
    min-width: 180px;
    padding: 4vw;
  }
}
@media (max-width: 768px) {
  .L-section {
    max-width: 98vw;
    min-width: 120px;
    padding: 2vw;
  }
}

.R-section {
  
    padding: 20px;
}

.place-order-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
}

.place-order-buttons button {
    background-color: #3f51b5 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.U-section{
    display:flex;
    height:50px;
    margin: 20px 45px 20px 45px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1024px) {
  .U-section {
    margin: 20px 5vw 20px 5vw;
  }
}
@media (max-width: 768px) {
  .U-section {
    margin: 20px 2vw 20px 2vw;
  }
}
.U-section i,hr,span{
    margin-right: 10px ;
    
}
hr{
    width: 400px;
}
@media (max-width: 1024px) {
  hr {
    width: 60vw;
    min-width: 120px;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  hr {
    width: 90vw;
    min-width: 80px;
    max-width: 98vw;
  }
}


