/* ProductCard.css */

.card {
    width: 300px; /* Adjust as needed */
    height: 500px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 50%;
  }
  
  .name-price {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .description {
    margin-top: 10px;
    color: darkgray;
  }
  
  .buttons {
    display: flex;
    align-content: end;
    position: absolute;
    bottom: 5px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px 0px 5px;
  }
  