.add-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading-container {
    margin-top: 50px;
    text-align: center;
  }
  
  .form-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .form-container input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    height: 20px;
    width: 300px;
    border: 1px lightgrey solid;
    border-radius: 5px;
  }
  
  .form-container button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
  }


.name-field, .select-category, .manufacturer-field, .available-items-field
, .price-field, .image-url-field, .description-field {
    position: relative;
}

.form-container span {
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: x-small;
    background-color: white;
    color: gray;
    padding: 3px;
    z-index: 100;
}