#sorting-dropdown {
    width: 200px;
}
@media (max-width: 1024px) {
  #sorting-dropdown {
    width: 30vw;
    min-width: 100px;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  #sorting-dropdown {
    width: 60vw;
    min-width: 80px;
    max-width: 98vw;
  }
}

.sorting-container {
    margin-left: 110px;
}