.address-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    margin-bottom: 15px;
    height: auto;
}

.input-field input {
    height: 30px;
    width: 400px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
@media (max-width: 1024px) {
  .input-field input {
    width: 60vw;
    min-width: 180px;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .input-field input {
    width: 90vw;
    min-width: 120px;
    max-width: 98vw;
  }
}

.input-field button {
    width: 415px;
    height: 40px;
    background-color: #3f51b5 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
@media (max-width: 1024px) {
  .input-field button {
    width: 60vw;
    min-width: 180px;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .input-field button {
    width: 90vw;
    min-width: 120px;
    max-width: 98vw;
  }
}

.next-button button {
    padding: 5px 10px 5px 10px;
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-address-div {
    display: flex;
    flex-direction: column;
    width: 800px;
}
@media (max-width: 1024px) {
  .select-address-div {
    width: 90vw;
    min-width: 180px;
    max-width: 98vw;
  }
}
@media (max-width: 768px) {
  .select-address-div {
    width: 98vw;
    min-width: 120px;
    max-width: 100vw;
  }
}

.select-address {
    height: 40px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.select-address-div span {
    font-size: small;
    margin-left: 8px;
    margin-bottom: 5px;
}

