.product-details-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 10px 100px 10px 100px;
}

@media (max-width: 1024px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 5vw;
  }
}
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 2vw;
  }
}

.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 800px;
}
@media (max-width: 1024px) {
  .product-info-container {
    width: 90vw;
    min-width: 220px;
    max-width: 98vw;
  }
}
@media (max-width: 768px) {
  .product-info-container {
    width: 98vw;
    min-width: 180px;
    max-width: 100vw;
  }
}

.place-order-button {
    background-color: #3f51b5 ;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3f51b5;
}

.name-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-quantity input {
    border: 2px solid lightgray;
    border-radius: 5px ;
    padding: 8px;
    width: 250px;
    height: 30px;
}
@media (max-width: 1024px) {
  .input-quantity input {
    width: 40vw;
    min-width: 120px;
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .input-quantity input {
    width: 80vw;
    min-width: 100px;
    max-width: 98vw;
  }
}

.input-quantity {
    position: relative;
}

.input-quantity span {
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: x-small;
    background-color: white;
    color: gray;
    padding: 3px;
}

.name-quantity span {
    background-color: #3f51b5;
    padding: 8px;
    border-radius: 20px;
    color: white;
    margin-left: 20px;
}

.product-image-container img {
    max-width: 500px;
    max-height: 500px;
    margin-right: 80px;
}
@media (max-width: 1024px) {
  .product-image-container img {
    max-width: 60vw;
    max-height: 60vw;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .product-image-container img {
    max-width: 90vw;
    max-height: 60vw;
    margin-right: 0;
  }
}